{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>KeyBord Advertisement | Home </title>



<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Business Trade a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>

<link rel="stylesheet" href="{% static 'advertiser/website/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'advertiser/website/css/style.css' %}" type="text/css" media="all" />
<link href="{% static 'advertiser/website/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'advertiser/website/css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>




</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Header -->
		<div class="logo-waalayouts">
			<h1><a href="{% url 'advertiser:home' %}"><span>Advertisement</span><span></span></a></h1>
		</div>
		
		<!-- Navigation -->
		<div class="container">
			<button class="btn-nav">
				<div class="bar arrow-top-r"></div>
				<div class="bar arrow-middle-r"></div>
				<div class="bar arrow-bottom-r"></div>
			</button>
			<nav class="nav-container hidden hideNav">
				<ul class="nav-list">
					<li class="list-item"><a href="{% url 'advertiser:registration' %}"><i class="fa fa-user"></i></a></li>
					 <li class="list-item"><a href="{% url 'advertiser:dashboard' %}"><i class="fa fa-server"></i></a></li>
                    <li class="list-item"><a href="{% url 'advertiser:login' %}"><i class="fa fa-sign-in"></i></a></li>
					<li class="list-item"><a href="{% url 'advertiser:contact' %}"><i class="fa fa-phone"></i></a></li>
				
				</ul>
			</nav>
		</div>
		<!-- //Navigation -->

		<!-- banner-slider -->
			<div class="waal_banner_info">
				<div class="slider">
					<div class="callbacks_container">
								<ul class="rslides" id="slider3">
									<li>
										<div class="slider-img">
											<img src="{% static 'advertiser/website/images/h1.jpg' %}" class="img-responsive" alt="impetus">
										</div>
										<div class="slider_banner_info">
											 <h4>Advertisement</h4>
											<p>The advertiser directs the company's ads to the right users. </p>
										</div>

									</li>
									<li>
										<div class="slider-img">
											<img src="{% static 'advertiser/website/images/h2.jpg' %}" class="img-responsive" alt="impetus">
										</div>
										<div class="slider_banner_info">
											<h4>Analysis</h4>
											<p>The application uses a keyboard to analyze what the user is writing the post. </p>
										</div>

									</li>
								</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		<!-- //banner-slider -->
		
	<!-- //Header -->
	

	

	<div id="testimonials" class="review">
		<div class="container">
		<h2 class="title-waa">Testimonials</h2>
				<div class="test-monials">
		
						
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team-inner-page -->
		<!-- footer-starts-here -->
			<div class="footer-waal">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-4 footer-grid">
							<h4>About Us</h4>
							<p> We maintain data confidentiality for customers to increase the safety of our system and to provide the highest quality services.</p>
						</div>
						<div class="col-md-4 footer-grid">
							<h4>Subscribe For Newsletter</h4>
							<form action="#" method="post">
								<input type="email" name="email" placeholder="Email" required="">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-4 footer-grid f3">
							<h4>Address</h4>
							<ul>
							
								<li>Future Academy</li>
							
							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!-- footer-ends-here -->
		
		<!-- copyright-starts-here -->
			<div class="copy-section">
				<div class="container">
					<div class="icons-waal">
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
									<li><a class="googleplus" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google+</span></a></li>
								
								</ul>
						</div>
					<div class="footer-top">
						<p>© 2018 </p>
					</div>
				</div>
			</div>
		<!-- copyright-ends-here -->


	
<!-- Custom-JavaScript-Files -->

	<script type="text/javascript" src="{% static 'advertiser/website/js/jquery-2.1.4.min.js' %}"></script> <!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{% static 'advertiser/website/js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- Navigation-JavaScript -->
	<script type="text/javascript" src="{% static 'advertiser/website/js/jquery-func.js' %}"></script>
	<script>
		$(window).load(function() {
			$(".btn-nav").on("click tap", function() {
				$(".nav-container").toggleClass("showNav hideNav").removeClass("hidden");
				$(this).toggleClass("animated");
			});
		});
	</script>
	<!-- //Navigation-JavaScript -->


						<script src="{% static 'advertiser/website/js/responsiveslides.min.js' %}"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
							 </script>

							<!--banner Slider starts Here-->

				<!-- required-js-files-->
						<!-- for-testimonials -->
							<link href="{% static 'advertiser/website/css/owl.carousel.css' %}" rel="stylesheet">
							    <script src="{% static 'advertiser/website/js/owl.carousel.js' %}"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
						<!-- //for-testimonials -->
				<!--//required-js-files-->




<!-- //Custom-JavaScript-Files -->

</body>
</html>
