{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title> Statistics </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'advertiser/dashboard/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'advertiser/dashboard/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'advertiser/dashboard/css/font-awesome.css' %}" rel="stylesheet">
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'advertiser/dashboard/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="{% static 'advertiser/dashboard/js/Chart.js' %}"></script>
<!-- //chart -->
<!--animate-->
<link href="{% static 'advertiser/dashboard/css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'advertiser/dashboard/js/wow.min.js' %}"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts--->
 <!-- Meters graphs -->
<script src="{% static 'advertiser/dashboard/js/jquery-1.10.2.min.js' %}"></script>

</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

                <div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
                        <li ><a href="{% url 'advertiser:dashboard' %}"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li ><a href="{% url 'advertiser:add-advertisement' %}"><i class="lnr lnr-file-add"></i> <span>Add</span></a></li>

						<li ><a href="{% url 'advertiser:statistics' %}"><i class="lnr lnr-pie-chart"></i> <span>Charts</span></a>
						</li>

                        <li ><a href="{% url 'advertiser:Advertisements' %}">
                            <i class="lnr lnr-book"></i> <span>Advertisements</span></a>

                       <li ><a href="{% url 'advertiser:logout' %}">
                            <i class="lnr lnr-exit"></i> <span> Logout</span></a>


					</ul>
				<!--sidebar nav end-->
			  </div>
            </div>
    <!-- left side end-->
    

		
			<!-- header-starts -->
			<div class="header-section">
			 

										<!-- search-scripts -->
										<script src="{% static 'advertiser/dashboard/js/classie.js' %}"></script>
										<script src="{% static 'advertiser/dashboard/js/uisearch.js' %}"></script>
											<script>
												new UISearch( document.getElementById( 'sb-search' ) );
											</script>
										<!-- //search-scripts -->
	<!-- //header-ends -->
			<div id="page-wrapper">
				<div class="graphs">

					<h3 class="blank1"> Advertisements Statistics</h3>
					<div class="graph_box">					
						<div class="clearfix"> </div>
					</div>
					<div class="graph_box1">
						<div class="col-md-6 grid_2 grid_2_bot">
							<div class="grid_1">
								<h4>Categories</h4>
								<div class="legend">
									<div id="os-Win-lbl">Sports <span>{{stuents}}%</span></div>
									<div id="os-Mac-lbl">Travel <span> {{stuents}}%</span></div>
									<div id="os-Mac-lbl">Technology <span> {{stuents}}%</span></div>
									<div id="os-Other-lbl">Shopping<span>{{stuents}}%</span></div>
								 </div>

								<canvas id="pie" height="315" width="470" style="width: 470px; height: 315px;"></canvas>
								<script>
									var pieData = [
										{
											value: {{stuents}},
											color:"#ef553a"
										},
										{
											value: {{stuents}},
											color:"#5F9EA0"
										},
										{
											value : {{stuents}},
											color : "#00aced"
										},
										{
											value : {{stuents}},
											color : "#8BC34A"
										}
									
									];
									new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);
								</script>
							</div>
						</div>
						<div class="col-md-6 grid_2 grid_2_bot">
							<div class="grid_1">
								<h4>Line</h4>
								<canvas id="line1" height="100" width="600" style="width: 600px; height: 100px;"></canvas>
								<script>
										var lineChartData = {
											labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Mon"],
											datasets : [
												{
													fillColor : "#fff",
													strokeColor : "#F44336",
													pointColor : "#fbfbfb",
													pointStrokeColor : "#F44336",
													data : [20,35,45,30,10,65,40]
												}
											]
											
										};
										new Chart(document.getElementById("line1").getContext("2d")).Line(lineChartData);
								</script>
							</div>
							<div class="line-bottom-grid">
								<div class="grid_1">
									<h4>Bar</h4>
									<canvas id="bar1" height="100" width="600" style="width: 600px; height: 100px;"></canvas>
									<script>
										var barChartData = {
											labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Mon","Tue","Wed","Thu"],
											datasets : [
												{
													fillColor : "#8BC34A",
													strokeColor : "#8BC34A",
													data : [25,40,50,65,55,30,20,10,6,4]
												},
												{
													fillColor : "#8BC34A",
													strokeColor : "#8BC34A",
													data : [30,45,55,70,40,25,15,8,5,2]
												}
											]
											
										};
											new Chart(document.getElementById("bar1").getContext("2d")).Bar(barChartData);
									</script>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>

	</section>
	

<script src="{% static 'advertiser/dashboard/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'advertiser/dashboard/js/bootstrap.min.js' %}"></script>
</body>
</html>
